# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Veri & Modeller (DVC ile takip edilecekse)
# data/processed/
# data/raw/
# models/
# *.csv
# *.jsonl
# *.parquet

# Sistem Dosyaları
.DS_Store
*.env
.vscode/
